<div class="container">
	<!-- get method start here -->
	<h3>Get Method here</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>title</th>
				<th>categories</th>
				<th>content</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let item of fullData;  index as i">
				<td>{{i+1}}</td>
				<td>{{item.title}}</td>
				<td>{{item.categories}}</td>
				<td>{{item.content}}</td>
				
				
				
			</tr>

		</tbody>
	</table>

	<!-- get method end here -->

<br/>
<br/>
<br/>



	<!-- post method end here -->

		<h3>post Method here</h3>
<form [formGroup]="dataForm">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="title">title</label>
					<input type="text" class="form-control" name="title" formControlName="title" #title>
					<div
					*ngIf="dataForm.controls['title'].invalid && (dataForm.controls['title'].dirty ||  dataForm.controls['title'].touched)"
					class="text-danger">
					<div *ngIf="dataForm.controls['title'].errors.required">
						title Name is required.
					</div>
				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="form-group">
				<label for="categories">categories</label>
				<input type="text" class="form-control" name="categories" formControlName="categories" #categories>
				<div
				*ngIf="dataForm.controls['categories'].invalid && (dataForm.controls['categories'].dirty ||  dataForm.controls['categories'].touched)"
				class="text-danger">
				<div *ngIf="dataForm.controls['categories'].errors.required">
					categories Name is required.
				</div>
			</div>
		</div>
	</div>	
	<div class="col-md-3">
		<div class="form-group">
			<label for="content">content</label>
			<input type="text" class="form-control" name="content" formControlName="content" #content>
			<div
			*ngIf="dataForm.controls['content'].invalid && (dataForm.controls['content'].dirty ||  dataForm.controls['content'].touched)"
			class="text-danger">
			<div *ngIf="dataForm.controls['content'].errors.required">
				content text is required.
			</div>
		</div>
	</div>
</div>		
<div class="col-md-3">
	<div class="form-group">
		<label for="content">&nbsp;</label><br/>

		<button style="width:100%" type="button" class="btn" [disabled]="dataForm.pristine || dataForm.invalid" (click)="dataClick(title.value, categories.value, content.value)">Submit</button>
	</div>

</div>	
</div>
</form>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>title</th>
				<th>categories</th>
				<th>content</th>
				<th>Actin</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor = "let item of fullData;  index as i">
				<td>{{i+1}}</td>
				<td>{{item.title}}</td>
				<td>{{item.categories}}</td>
				<td>{{item.content}}</td>
				<td>
				<a [routerLink]="['/edit']" [queryParams]="{id : item.id}">Edit</a>

				<button (click)="deleteClick(item.id)"  class="pull-right btn btn-default" id="k{{item.id}}">Delete <i id="{{item.id}}" class="fa fa-spinner fa-spin" style="display: none;"></i></button>	
				</td>
				
				
				
			</tr>

		</tbody>
	</table>

	<!-- post method end here -->


</div>