<div class="container">
	
	<h3>Update Method here</h3>
	<form [formGroup]="editDataForm">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="title">title</label>
					<input type="text" class="form-control" name="title" formControlName="title" #title>
					<div
					*ngIf="editDataForm.controls['title'].invalid && (editDataForm.controls['title'].dirty ||  editDataForm.controls['title'].touched)"
					class="text-danger">
					<div *ngIf="editDataForm.controls['title'].errors.required">
						title Name is required.
					</div>
				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="form-group">
				<label for="categories">categories</label>
				<input type="text" class="form-control" name="categories" formControlName="categories" #categories>
				<div
					*ngIf="editDataForm.controls['categories'].invalid && (editDataForm.controls['categories'].dirty ||  editDataForm.controls['categories'].touched)"
					class="text-danger">
					<div *ngIf="editDataForm.controls['categories'].errors.required">
						categories Name is required.
					</div>
				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="form-group">
				<label for="content">content</label>
				<input type="text" class="form-control" name="content" formControlName="content" #content>
				<div
					*ngIf="editDataForm.controls['content'].invalid && (editDataForm.controls['content'].dirty ||  editDataForm.controls['content'].touched)"
					class="text-danger">
					<div *ngIf="editDataForm.controls['content'].errors.required">
						content text is required.
					</div>
				</div>
			</div>
		</div>		
		<div class="col-md-3">
			<div class="form-group">
				<label for="content">&nbsp;</label><br/>

				<button style="width:100%" type="button" class="btn" [disabled]="editDataForm.pristine || editDataForm.invalid" (click)="editClick(title.value, categories.value, content.value)">Submit</button>
			</div>
			
		</div>	
	</div>
</form>
</div>